<header>
    <div class="container header-container">
        <div class="me">
            <img src="../assets/me.jpg" alt="Me">
        </div>
        <div class="info">
            <h1>Hi, I'm Adrii !</h1>
            <p> # Web Developer  </p>
            <p> # DJ </p>
        </div>
        <div class="cta">
            <a href="../assets/cv.pdf" download class="btn"> Download CV</a>
            <a href="#contact" class="btn btn-primary">Let's Talk</a>
        </div>
        <!--        <div class="header-socials">
            <a href="https://linkedin.com" target="_blank"><img src="../../assets/linkedin.svg" alt=""></a>
            <a href="https://linkedin.com" target="_blank"><img src="../../assets/github.svg" alt=""></a>
        </div> -->

    </div>

</header>