<section id="portfolio">

    <h5>My recent Work</h5>
    <h2>Portfolio</h2>

    <div class="container portfolio-container">
        <ng-container *ngFor="let portfolio of portfolios">
            <article class="portfolio-item">
                <div class="portfolio-item-image">
                    <img src="../../../assets/portfolio1.jpg" alt="Comudy">
                </div>
                <h3>{{portfolio.title}}</h3>
                <div class="portfolio-item-cta">
                    <a [href]="portfolio.github" class="btn" target="_blank">Github</a>
                    <a [href]="portfolio.web" class="btn btn-primary" target="_blank">Live Demo</a>
                </div>
            </article>
        </ng-container>
    </div>


</section>