<section id="experience">
    <h5>What I can do</h5>
    <h2>My Skills</h2>

    <div class="container experience-container">
        <div class="experience-frontend">
            <h3>Frontend Development</h3>
            <div class="experience-content">
                <article class="experience-details">
                    <span class="material-icons">
                        beenhere
                    </span>
                    <h4>HTML</h4>
                </article>

                <article class="experience-details">
                    <span class="material-icons">
                        beenhere
                    </span>
                    <h4>CSS</h4>
                </article>

                <article class="experience-details">
                    <span class="material-icons">
                        beenhere
                    </span>
                    <h4>Javascript</h4>
                </article>

                <article class="experience-details">
                    <span class="material-icons">
                        beenhere
                    </span>
                    <h4>Bootstrap</h4>
                </article>

                <article class="experience-details">
                    <span class="material-icons">
                        beenhere
                    </span>
                    <h4>Angular</h4>
                </article>
                <article class="experience-details">
                    <span class="material-icons">
                        beenhere
                    </span>
                    <h4>Angular Material</h4>
                </article>
            </div>
        </div>
        <!-- Backend -->
        <div class="experience-backend">
            <h3>Backend Development</h3>
            <div class="experience-content">
                <article class="experience-details">
                    <span class="material-icons">
                        beenhere
                    </span>
                    <h4>Node JS</h4>
                </article>
                <article class="experience-details">
                    <span class="material-icons">
                        beenhere
                    </span>
                    <h4>Nest JS</h4>
                </article>
                <article class="experience-details">
                    <span class="material-icons">
                        beenhere
                    </span>
                    <h4>Loopback</h4>
                </article>
                <article class="experience-details">
                    <span class="material-icons">
                        beenhere
                    </span>
                    <h4>MongoDB</h4>
                </article>

                <article class="experience-details">
                    <span class="material-icons">
                        beenhere
                    </span>
                    <h4>Postgresql</h4>
                </article>

                <article class="experience-details">
                    <span class="material-icons">
                        beenhere
                    </span>
                    <h4>MySQL</h4>
                </article>
            </div>
        </div>
    </div>

</section>