<section id="about" class="about">
    <h5>Get To Know</h5>
    <h2>About me</h2>

    <div class="container about-container">

        <div class="about-me">
            <img src="../../../assets/me-about.jpg" alt="About image">
        </div>

        <div class="about-content">
            <div class="about-cards">
                <article class="about-card">
                    <span class="material-icons about-icon">
                        military_tech
                    </span>
                    <h5>Experience</h5>
                    <small>5+ years</small>
                </article>
                <article class="about-card">
                    <span class="material-icons about-icon">
                        folder_open
                    </span>
                    <h5>Projects</h5>
                    <small>20+ Completed</small>
                </article>
                <article class="about-card">
                    <span class="material-icons about-icon">
                        headphones
                    </span>
                    <h5>Music</h5>
                    <small>3 Sets</small>
                </article>
            </div>

            <p>I'm a positive person who love create new things, connect the technology with our lives to improve the
                style of life.

                <br><br> And it's not only with the web development, I love the music too
            </p>

            <a href="#contact" class="btn btn-primary">Let's Talk </a>

        </div>

    </div>
</section>