<section id="about">
    <h5>Get To Know</h5>
    <h2>About me</h2>

    <div class="container about-container">

        <div class="about-me">
            <div class="about-me-image">
                <img src="../../../assets/me-about.jpg" alt="About image">
            </div>
        </div>

        <div class="about-content">
            <div class="about-cards">
                <article class="about-card">
                    <span class="material-icons about-icon">
                        military_tech
                    </span>
                    <h5>Experience</h5>
                    <small>5+ years</small>
                </article>
                <article class="about-card">
                    <span class="material-icons about-icon">
                        folder_open
                    </span>
                    <h5>Projects</h5>
                    <small>20+ Completed</small>
                </article>
                <article class="about-card">
                    <span class="material-icons about-icon">
                        headphones
                    </span>
                    <h5>Dates</h5>
                    <small>40+ Fest</small>
                </article>
            </div>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, est eos sit, veniam incidunt
                praesentium quae quisquam doloribus voluptatibus veritatis quod numquam excepturi sunt mollitia odio
                modi expedita ex esse.</p>

            <a href="#contact" class="btn btn-primary">Let's Talk </a>

        </div>

    </div>
</section>